#dashboardWrapper {
    text-align: center;
    padding-left: 20%
}

.loadingStatusShow {
    display: block;
    text-align: center;
    margin-left: 325px;
}

.loadingStatusHide {
    display: none;
}